.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 10px;
  height: 100px !important;
  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}

h7 {
  display: block;
  font-size: 0.6em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;

}

h8 {
  font-size: 2.5em;
  position: fixed;
  top: 35%;
  left: 25%;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}