.quarto-title-block .quarto-title-banner {
  background-image: url(figures/Logo_principalEncoders.jpg);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}